<%= form_with(model: sintoma, local: true) do |form| %>
  <% if sintoma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sintoma.errors.count, "error") %> prohibited this sintoma from being saved:</h2>

      <ul>
      <% sintoma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome_sintoma %>
    <%= form.text_field :nome_sintoma %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>
  <%= @user.id %>
  <div class="field">
    <%= form.label :user %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
